@import url("https://font.elice.io/EliceDigitalBaeum.css");

* {
  font-family: 'Elice Digital Baeum';
}

img {
    width: 250px;
    height: 250px; 
    border-radius: 30%;
    overflow: hidden;
}

div {
    text-align: center;
}

p {
    font-size: 1.5em;
}

.si {
  padding: 20px;
  font-size: 45px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

a:link, a:visited {
  color: #000000;
}

.box {
    width : 30em;
    border: 3px solid #40E0D0;
    margin: 75px auto;
}

.icon{
    margin-bottom: 1.5em;
}

h1{
    color :	#FF00FF;
}
p{
    color : #32CD32;	
}